body {
  background: #e9e9e9;
  
}

.contenedor {
  width: 500px;
  height: 200px;
  background: #fff;
  padding: 10px;
  border: 10px solid gray;
  margin: 20px;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  flex-direction: row;
  flex-direction: row-reverse;
 
  Justify-content: space-between;
  Align-items: center;

}

.elemento {
  color:fff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: orange;
  text-align: center;
  
}

/* PARA Z INDEX */
.capa {
      width: 200px;
      height: 200px;
    /*   opacity: .7;   */
      font-size: 3em;
      text-align: center;
      line-height: 200px;
      color: #fff;
      position:relative;
      margin-left: 400px;
    }
    
    .uno {
      background: hsl(108, 100%, 50%);
    }
    
    .dos {
      background: hsl(200,70%,50%);
      top: -100px;
      left: 100px;
      z-index: 300;
    
    }
    
    .tres {
      background: hsl(300,70%,50%);
      top: -200px;
      left: 200px;
      z-index: 200;
     
    }


 /*     PARA INCIOS  */

  .container { 
        display: flex;
        width: 400px;
        height: 400px;
        background: hsl(240,100%,90%);
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
    }
      
    .item {
        align-self: flex-start;
        order: -1;
        margin: 20px;
          
    }

    h1 {
      color: red;
    }

    /* PREFIJOS */


/* display: -webkit-flex;
display: -ms-flexbox;
display: flex; */

div {


flex-direction: row;

flex-direction: row-reverse;
    
{
  
  